canvas{
  position: fixed;
  /* top: 0;
  left: 0; */
  bottom: 0;
  right: 0;
} 

.progress-bar-container{
  z-index: 1;
  position:absolute;
  left:50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#progress-bar{
  width: 30%;
  margin-top: 0.5%;
  height: 2%;
}

label{
  color: white;
  font-size: 2rem;
}

#divInfo{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 600px;
  border-radius: 10px;
  background: rgb(249,0,0);
  background: linear-gradient(170deg, rgba(249,0,0,1) 0%, rgba(218,209,0,1) 100%);
  box-shadow: 0 25px 50px rgba(0,0,0,0.55);
  font-family: Arial, Helvetica, sans-serif;
  padding: 30px;
}

#cont1{
  width: 100%;
  text-align: end;
}

#cont2{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#cont3{
  width: 100%;
  height: 10px;
  background-color: transparent;
  display: flex;
  justify-content: center;
}

#iconoAnimal{
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
}

#nombreAnimal{
  color: white;
}

#infoAnimal{
  color: white;
  text-align: justify;
  font-size: large;
}

#btnSonido{
  background-image: url("img/audio.png");
  width: 64px;
  height: 64px;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  object-fit: fill;
}

#btnCerrar{
  background-image: url("img/x.png");
  width: 36px;
  height: 36px;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  position: absolute;
  margin-left: -30px;
}