canvas{
  position: fixed;
  /* top: 0;
  left: 0; */
  bottom: 0;
  right: 0;
} 

.progress-bar-container{
  z-index: 1;
  position:absolute;
  left:50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#progress-bar{
  width: 30%;
  margin-top: 0.5%;
  height: 2%;
}

label{
  color: white;
  font-size: 2rem;
}

#divInfo{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 600px;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  background-image:linear-gradient(rgba(0,0,0,0.30),rgba(0,0,0,0.10)), url("img/fondoSav2.jfif");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 30px;
}

#cont1{
  width: 100%;
  text-align: end;
}

#cont2{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 20px 0px 20px;
  border-radius: 20px;
}

#cont3{
  width: 100%;
  height: 128px;
  display: flex;
  justify-content: center;
}

#iconoAnimal{
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px  solid white;
  box-shadow: 0px 10px 50px black;
}

#nombreAnimal{
  color: white;
  width: 100%;
  text-align: center;
  box-shadow: 0px 10px 50px black;
  background-color: rgb(218, 95, 24);
  border-radius: 20px;
}

#infoAnimal{
  width: auto;
  height: auto;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  text-align: justify;
  font-size: large;
  backdrop-filter: blur(3px);
  box-shadow: 0px 10px 50px black;
  margin-top: 0px;
}

#btnSonido{
  background-image: url("img/sound2.png");
  width: 130px;
  height: 128px;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
}

#btnCerrar{
  background-image: url("img/x.png");
  width: 36px;
  height: 36px;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  position: absolute;
  margin-left: -30px;
}